*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

/* Remove arrows at right side of number input fields. */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

#app {
  max-width: 100%;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
  font-family: Inter, sans-serif;
}

a {
  text-decoration: none;
  color: rgb(32, 248, 176);
  transition: 0.1s;
}

@media (hover: hover) {
  a:hover, .dom:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}
